// MacOS
.DS_Store

// Vim swap files
*.swp

// Development database
db

// Development DB logs
db-logs

// Development DB pidfile
mongod.pid

// Local node modules
node_modules

// Generated test coverage information
coverage
